<div class="row">


<div class="col-2">
  <app-side-filter></app-side-filter>
</div>
<div class="col-10 row">
   <div class="col-xl-3 col-md-5 mt-2"  *ngFor="let item of products">
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="card-img-actions">
              <img
                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1562074043/234.png"
                class="card-img img-fluid"
                width="96"
                height="350"
                alt=""
              />
            </div>
          </div>
          <div class="card-body bg-light text-center">
            <div class="mb-2">
              <h6 class="font-weight-semibold mb-2">
                <a href="#" class="mb-2">{{item.category}}</a>
              </h6>
              <a href="#" class="text-muted">{{item.name}}</a>
            </div>
            <h3 class="mb-0 font-weight-semibold">{{item.price}}</h3>
            <p class="text-muted mb-3">
              <a href="#">{{ "product details" | translate }}</a>
            </p>
            <button type="button" class="btn btn-warning">
              <i class="bi bi-cart3"></i> {{ "Add to cart" | translate }}
            </button>
          </div>
        </div>
      </div>
<!-- <h1>{{"Household Appliances"|translate}}</h1>
<hr> -->
<!-- <div class="row"> -->
  <!-- <h1 class="text-center fw-bolder">{{"SHOP BY BRAND"|translate}}</h1>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a> -->
  <!-- /////////////////////////////// -->
   <!-- <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a> -->
   <!-- /////////////////////////////// -->
   <!-- <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-3 col-md-6 col-sm-12 mb-3 ">
    <img class=" w-100" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a> -->
<!-- </div>

<hr>
<div class="row"> -->
  <!-- <h1 class="text-center fw-bolder"> {{"SHOP BY BRAND"|translate}}</h1>
  <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100  h-75 " src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100  h-75" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100  h-75" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a> -->

  <!-- /////////////////////////////// -->
   <!-- <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100 h-75" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100  h-75" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a>
  <a href="#" class="col-lg-4 col-md-6 col-sm-12  mb-2">
    <img class=" w-100  h-75" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Major_Appliances/1427965_EG_OHL_Nav_Sharp_440x300_08ff6cb7-2b48-4d8e-aa21-fbc0c6861455.jpg" alt="">
  </a> -->

<!-- </div>
<hr> -->
<!-- <div class="row">
  <img class="my-3" src="https://images-eu.ssl-images-amazon.com/images/G/42/Egypt-hq/2022/img/Elaraby-Main-Banner-En_Desktop.jpg" alt="">
</div> -->
<!-- <div class="row">
<h1 class="fw-bold">Appliances | New Arrivals</h1>
</div> -->
<!-- </div> -->
</div>
