<div class="row">
  <div class="table-responsive">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{"Name"|translate}}</th>
          <th scope="col">{{"Price"|translate}}</th>
          <th scope="col">{{"Quantity"|translate}}</th>
          <th scope="col">{{"totalPriceOfType"|translate}}</th>
          <th scope="col">{{"Delete"|translate}}</th>
          <!-- <th scope="col">{{"Address"|translate}}</th>
          <th scope="col">{{"payment"|translate}}</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productInCart; index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><input [(ngModel)] = "productInCart[i].quantity" class="form-control w-50" type="number" name="quantity" min="1" value = "1" (change)="Changes()"></td>
          <td>{{productInCart[i].quantity * item.price}}</td>
          <td><button class="btn btn-danger" (click)="removeFromCart(item)">{{"Delete"|translate}}</button></td>

        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row text-center m-1">
  <div class="col-3">
    <h3 class="text-danger fs-1">{{"completetotal"|translate}}</h3>
  </div>
  <div class="col-3">
    <span class="fs-1 text-danger">{{totalPrice| currency}}</span>
  </div>
  <!-- <input readonly type="number" value="52000" class="form-control"> -->
  <div class="col-3">
    <button class="btn btn-warning" [routerLink]="['/Address']" (click)="order()">{{"Buy Process"|translate}}</button>
  </div>
</div>


