<div class=" mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img
              src="https://i.imgur.com/TAzli1U.jpg"
              id="main_product_image"
              width="350"
            />
          </div>
          <div class="thumbnail_images">
            <ul id="thumbnail">
              <li>
                <img

                  src="https://i.imgur.com/TAzli1U.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  src="https://i.imgur.com/w6kEctd.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  src="https://i.imgur.com/L7hFD8X.jpg"
                  width="70"
                />
              </li>
              <li>
                <img
                  src="https://i.imgur.com/6ZufmNS.jpg"
                  width="70"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 position-relative">
          <div class="d-flex justify-content-between align-items-center">
            <h3>{{product?.name}}</h3>
          </div>
          <div class="mt-2 pr-3 content">
            <p>{{product?.description}}
            </p>
          </div>
          <h3>{{product?.price}}</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <div class="d-flex flex-row">
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bxs-star"></i> <i class="bx bxs-star"></i>
              <i class="bx bx-star"></i>
            </div>
            <span>441 reviews</span>
          </div>
          <div class="mt-5">
            <span class="fw-bold">{{"Color"| translate}}</span>
            <div class="colors">
              <ul id="marker">
                <li id="marker-1"></li>
                <li id="marker-2"></li>
                <li id="marker-3"></li>
                <li id="marker-4"></li>
                <li id="marker-5"></li>
              </ul>
            </div>
          </div>
          <div class="buttons d-flex flex-row mt-5 gap-3">
            <button class="btn btn-outline-dark">{{"Buy Now"|translate}}</button>
            <button class="btn btn-dark">{{"Add to Basket"| translate}}</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedback">
              {{"Feedback"| translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="feedback" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog mx-0 mx-sm-auto">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel"> {{"Feedback"| translate}}</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
          <p>
            <strong> {{"opinion"| translate}}</strong>
          </p>
          <p>
            {{"ideas"| translate}}
            <strong>  {{"Give"| translate}}</strong>
          </p>
        </div>

        <hr />

        <form class="px-4" action="">
          <p class="text-center"><strong>{{"Your rating:"| translate}}</strong></p>

          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example1" />
            <label class="form-check-label" for="radio4Example1">
              {{"Very good"| translate}}
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example2" />
            <label class="form-check-label" for="radio4Example2">
              {{"Good"| translate}}
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example3" />
            <label class="form-check-label" for="radio4Example3">
              {{"Medicore"| translate}}
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example4" />
            <label class="form-check-label" for="radio4Example4">
             {{"Bad"| translate}}
            </label>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="exampleForm" id="radio4Example5" />
            <label class="form-check-label" for="radio4Example5">
              {{"Very bad"| translate}}
            </label>
          </div>

          <p class="text-center"><strong>{{"What could we improve?"| translate}}</strong></p>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea class="form-control" id="form4Example4" rows="4"></textarea>
            <label class="form-label" for="form4Example4">{{"Your feedback"| translate}}</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">
          {{"Cancel"| translate}}
        </button>
        <button type="button" class="btn btn-primary">{{"Submit"| translate}}</button>
      </div>
    </div>
  </div>
</div>