<div class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="firstNav">
        <div class="container-fluid row">

            <a class="navbar-brand col-1" href="home">
                <img src="https://pngimg.com/uploads/amazon/amazon_PNG25.png" alt="Logo" width="70em"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <ul class="navbar-nav mb-2 mb-lg-0 col-11 navbar-nav collapse navbar-collapse" id="navbarNav">
                <li class="nav-item col-1">
                    <a class="nav-link active" aria-current="page" href="#">{{"Deliver To"|translate}}<br><i class="bi bi-geo-alt"></i>
                        {{"Egypt"|translate}}</a>
                </li>
                <div class="col-6">
                    <form class="d-flex" role="search">
                        <li class=" nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{"All"|translate}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" aria-label="Search" #search
                                aria-describedby="inputGroup-sizing-default">
                            <button class="btn btn-warning" type="submit" [routerLink]="['/Search',search.value]"><i class="bi bi-search"></i></button>
                        </div>
                    </form>

                </div>



                <li class="nav-item dropdown col-1">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/220px-Flag_of_Egypt.svg.png"
                        width="30em">
                        En
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">English-EN</a></li>
                        <li><a class="dropdown-item" href="#">العربية-AR</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown col-2">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{"Hello"|translate}}, {{"Sign in"|translate}}<br>
                        {{"Acoount&Lists"|translate}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><button class="btn btn-warning" routerLink="signin">{{"Sign in"|translate}}</button></li>
                        <li><a class="dropdown-item" href="#">{{"Your Account"|translate}}</a></li>
                        <li><a class="dropdown-item" href="#">{{"Your orders"|translate}}</a></li>
                        <!-- <li><a class="dropdown-item" href="#">{{"Your list"|translate}}</a></li> -->
                        <li><a class="dropdown-item" href="#">{{"Your addresses"|translate}}</a></li>
                        <li><a class="dropdown-item" href="#">{{"Your seller account"|translate}}</a></li>
                    </ul>
                </li>
                <li class="nav-item col-1">
                    <a class="nav-link active" routerLink="order">{{"Orders"|translate}}</a>
                </li>

                <li class="nav-item col-1">
                    <a class="nav-link active" href="#"><i class="bi bi-cart3 position-relative">
                            <span class="position-absolute start-20 translate-middle badge rounded-pill"> 0 </span>
                        </i>{{"Cart"|translate}}</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="secondNav">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span >All Categories</span>
        </button>

        <div class="container-fluid ">
            <ul class="navbar-nav collapse navbar-collapse"  id="navbarNav2">
              <ng-container *ngFor="let cat of categories;let i=index;">
                <li class="nav-item text-light">

                  <a class="nav-link text-light"  routerLinkActive="active" aria-current="page" [routerLink]="['/category',cat.id]">{{cat.name}}</a>
              </li>
              </ng-container>

                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Mobile phone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Electronics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Fashion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Perfumes</a>
                </li> -->

            </ul>
        </div>
    </nav>
</div>
