<div class="">
  <!-- {{CartCount}} -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="firstNav">
        <div class="container-fluid row">

            <a class="navbar-brand col-1 " href="home">
                <img src="https://pngimg.com/uploads/amazon/amazon_PNG25.png" alt="Logo" width="70em"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <ul class="navbar-nav mb-2 mb-lg-0 col-10 navbar-nav collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
                <li class="nav-item col-md-1 col-sm-12 ">
                    <a class="nav-link active col-sm-11" aria-current="page" routerLink="/address">{{"Deliver To"|translate}}<br><i class="bi bi-geo-alt"></i>
                        {{"Egypt"|translate}}</a>
                </li>

                <li class="col-md-4">
                    <form class="d-flex" role="search">

                        <div class="input-group  nav-item mx-3">
                            <input [(ngModel)]="serchstd" #seach type="text" name="ser" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-default">
                            <button  class="btn btn-warning" (click)="search(seach.value)"><i class="bi bi-search"></i></button>
                        </div>
                    </form>

                </li>
                <div class="col-md-2 mx-2 my-2 ">
                  <li class="nav-item d-flex ">
                      <button (click)="translate.use('en')" class="btn btn-outline-light mx-1 col-5 " style="font-size: 0.80vw;" href="#">EN</button>
                      <button (click)="translate.use('ar')" class="btn btn-outline-light mx-1 col-5 " style="font-size: 0.75vw;" href="#">اللغه العربيه</button>
                  </li>
                </div>
              <ng-container *ngIf="loggedIn.Role == 'Seller'">
                <li class="nav-item col  mx-2">
                    <a class="nav-link active" routerLink="/addProduct">{{"Add Product"|translate}}</a>
                </li>
                 <li class="nav-item col  mx-2">
                    <a class="nav-link active" routerLink="/SellerProduct">{{"Show Products"|translate}}</a>
                </li>
                </ng-container>
                <li class="nav-item col-1  mx-2">
                    <a class="nav-link active" routerLink="/order">{{"Orders"|translate}}</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link active col-md-1 col-12" routerLink="/cart"> <span class="badge">{{ count$ | async }}</span><i class="bi bi-cart3 position-relative fs-2"></i></a>
                </li>
                 <li class="nav-item col-1" *ngIf="!loggedIn.loggedIn" >
                    <a class="btn btn-outline-warning" routerLink="/login">{{"LogIn"|translate}}</a>
                  </li>
                <li class="nav-item col-md-2 " *ngIf="!loggedIn.loggedIn" >
                    <a class="btn btn-warning rounded-pill btn-sm text-center " routerLink="/register">{{"Register"|translate}}</a>
                  </li>



            </ul>
            <!-- d-flex justify-content-end ms-6 -->
               <ul class="col-1 navbar-nav mb-2 mb-lg-0  navbar-nav collapse navbar-collapse" id="navbarNav">
                      <li class="nav-item dropdown d-flex " *ngIf="loggedIn">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                          role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                            height="50vh" alt="Avatar" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <!-- <li>
                            <a class="dropdown-item" href="#">My profile</a>
                          </li> -->
                          <li>
                            <a class="dropdown-item" routerLink="/usersetting" href="#">{{"Settings"|translate}}</a>
                          </li>
                          <li *ngIf="loggedIn.loggedIn">
                            <a class="dropdown-item" (click)="check()">{{"Logout"|translate}}</a>
                          </li>
                        </ul>
                    </li>
                  </ul>
        </div>
    </nav>
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="secondNav">

        <button class="navbar-toggler col-12" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span >All Categories</span>
        </button>

        <div class="container-fluid ">
            <ul class="navbar-nav collapse navbar-collapse"  id="navbarNav2">
              <ng-container *ngFor="let cat of categories;let i=index;">
                <li class="nav-item text-light">

                  <a class="nav-link text-light"  routerLinkActive="active" aria-current="page" [routerLink]="['/category',cat.id]">{{cat.name}}</a>
              </li>
              </ng-container>



            </ul>
        </div>
    </nav>
</div>
