<div class="">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="firstNav">
        <div class="container-fluid row">

            <a class="navbar-brand col-1" href="home">
                <img src="https://pngimg.com/uploads/amazon/amazon_PNG25.png" alt="Logo" width="70em"
                    class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <ul class="navbar-nav mb-2 mb-lg-0 col-11 navbar-nav collapse navbar-collapse" id="navbarNav">
                <li class="nav-item col-1">
                    <a class="nav-link active" aria-current="page" routerLink="/address">{{"Deliver To"|translate}}<br><i class="bi bi-geo-alt"></i>
                        {{"Egypt"|translate}}</a>
                </li>
                 <!-- <li class="nav-item col-1" *ngIf="loggedIn" >
                    <a class="nav-link active" (click)="check()">logout</a>
                  </li>
                   <li class="nav-item col-1" *ngIf="!loggedIn" >
                    <a class="nav-link active" routerLink="/register">Register</a>
                  </li>
                  <li class="nav-item col-1" *ngIf="!loggedIn" >
                    <a class="nav-link active" routerLink="/login">LogIn</a>
                  </li> -->
                <div class="col-4 ">
                    <form class="d-flex" role="search">
                        <!-- <li class=" nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{"All"|translate}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                        <div class="input-group  nav-item mx-3">
                            <input [(ngModel)]="serchstd" #seach type="text" name="ser" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-default">
                            <button  class="btn btn-warning" (click)="search(seach.value)"><i class="bi bi-search"></i></button>
                        </div>
                    </form>

                </div>
                <div class="nav-item col-2 mx-2">
                    <button (click)="translate.use('en')" class="btn btn-outline-light mx-1 col-5 " style="font-size: 0.80vw;" href="#">EN</button>
                    <button (click)="translate.use('ar')" class="btn btn-outline-light mx-1 col-5 " style="font-size: 0.75vw;" href="#">AR</button>
                </div>

                <li class="nav-item col-1" *ngIf="loggedIn" >
                    <a class="btn btn-outline-warning" (click)="check()">logout</a>
                  </li>

                  <li class="nav-item col-1" *ngIf="!loggedIn" >
                    <a class="btn btn-outline-warning" routerLink="/login">LogIn</a>
                  </li>

                <li class="nav-item col-1">
                    <a class="nav-link active" routerLink="/order">{{"Orders"|translate}}</a>
                </li>

                <li class="nav-item col-1">
                    <a class="nav-link active" routerLink="/cart"><i class="bi bi-cart3 position-relative">
                            <span class="position-absolute start-20 translate-middle badge rounded-pill"> 0 </span>
                        </i>{{"Cart"|translate}}</a>
                </li>
                <li class="nav-item col-1" *ngIf="!loggedIn" >
                    <a class="btn btn-warning rounded-pill btn-sm text-center" routerLink="/register">Register Now</a>
                  </li>


            </ul>

        </div>
    </nav>
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" id="secondNav">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span >All Categories</span>
        </button>

        <div class="container-fluid ">
            <ul class="navbar-nav collapse navbar-collapse"  id="navbarNav2">
              <ng-container *ngFor="let cat of categories;let i=index;">
                <li class="nav-item text-light">

                  <a class="nav-link text-light"  routerLinkActive="active" aria-current="page" [routerLink]="['/category',cat.id]">{{cat.name}}</a>
              </li>
              </ng-container>



            </ul>
        </div>
    </nav>
</div>
